body, div {
  margin-left: auto;
  margin-right: auto;
  font-family: Copperplate;
}

img, .container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.disclaimer {
  font-size: 10px;
}

h2 {
  text-align: center;
}