body, div {
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana;
  background-color: black;
  color: white;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

img.cover {
  display: block;
  max-width: 300px;
}

img.merch {
  display: block;
  max-width: 300px;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.top {
  padding-top: 20px;
}

a {
  color: rgb(255, 216, 8);
}

a.link {
  color: rgb(225, 0, 223);
}

a.disclaimer {
  font-size: 12px;
  color: rgb(225, 0, 223);
  text-decoration: none;
}

h2, h3, h4 {
  text-align: center;
}

audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contactAddress:after {
  content: attr(data-name) "@" attr(data-domainfirst) "-" attr(data-domainlast) "." attr(data-tld);
}
